.hero {
  display: grid;
  grid-template-columns: auto 180px;
  align-items: center;
  gap: 2rem;

  width: 100%;
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 1rem;

  .left {
    position: relative;
    padding-left: 1rem;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2;
      margin-top: 0;
    }

    .subtext {
      font-weight: 600;
      font-size: 1.25rem;
      margin-top: 1rem;
      line-height: 1.6;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid black;
      background: #f9f9f9;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    text-align: center;

    .left {
      padding-left: 0;

      h2 {
        font-size: 2.5rem;
      }

      .subtext {
        font-size: 1.1rem;
      }
    }

    .right .avatar {
      margin-top: 1rem;
      width: 150px;
      height: 150px;
    }
  }

  @media (max-width: 640px) {
    .left h2 {
      font-size: 2rem;
    }

    .left .subtext {
      font-size: 1rem;
    }

    .right .avatar {
      width: 130px;
      height: 130px;
    }
  }
}
